* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI, Arial;
    background: linear-gradient(-45deg, #1d2671, #c33764, #2b5876, #4e4376);
    background-size: 400% 400%;
    animation: bg 10s infinite;
    padding-top: 90px;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    z-index: 1000;
}

.logo {
    width: 250px;
}

.header h1 {
    color: #d12d32;
    font-size: 42px;
}

/* INFO BOX */
.info-box {
    width: 85%;
    margin: 30px auto;
    padding: 25px;
    background: rgba(255, 255, 255, .9);
    border-radius: 14px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .3);
}

/* SLIDER */
.gallery-slider {
    position: relative;
    width: 90%;
    max-width: 1100px;
    height: 450px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slide.active {
    opacity: 1;
    animation: zoom 6s ease-in-out;
}

.gallery-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BUTTON */
.read-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: linear-gradient(to right, #1d2671, #c33764);
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/* FORM */
.form-container {
    width: 400px;
    margin: 40px auto;
    padding: 25px;
    background: rgba(255, 255, 255, .9);
    border-radius: 14px;
    text-align: center;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #1d2671, #c33764);
    color: white;
    border: none;
    cursor: pointer;
}

/* REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* ANIMATIONS */
@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* RESPONSIVE */
@media(max-width:768px) {
    .gallery-slider {
        height: 250px;
    }

    .header h1 {
        font-size: 28px;
    }
}